@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(234, 29%, 20%) ;
}

.container{
    background-color: white;
    height: 450px;
    width: 450px;
    border-radius: 25px;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-left: 50px;
    width: 320px;
    color:hsl(234, 29%, 20%) ;
}   

.text{
    font-family: "Roboto", sans-serif;
    margin-left: 50px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 25px;
    color:hsl(234, 29%, 20%) ;
}

.icon{
    margin-top: 30px;
    margin-left: 40px;
}

.button{
    margin-left: 50px;
    margin-top: 30px;
    background-color: hsl(234, 29%, 20%);
    height: 50px;
    width: 315px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;

   
}


.button:hover{
    animation-name: div-text-hover;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    

}

@keyframes div-text-hover {
    100% {
        background: linear-gradient(to right,  #ff5476, #ff673e);
        scale: 1.1;
    }

    50% {
        background: linear-gradient(to right,  #ff5476, #ff673e);
        scale: 1.15;
    }


    

}
    
a{
    text-decoration: none;

}

    
@media screen and (max-width: 375px) {
    
    body{
        margin: 0;
        padding: 0;
    }
    
    .container{
        padding-right: 50px;
        height: 750px;
        width: 375px;

    }

    .icon{
        margin-top: 100px;
        
    }
    
    .button{
        margin-top: 270px;

    }

    .title{
        margin-top: 20px;
        
    }
    
    .text{
        color: hsl(235, 18%, 26%);
        font-size: 16px;
        
    }

    .text br{
        display: none;

    }
    


    
}